
.loginMain{

    background-image: url("../../assets/authBack.svg");
    position: relative;
    /* background-image: url("../../assets/logoo.svg"); */
}
.rightImg{

   height: 88.052vh;
   background-image: url("../../assets/logoo.svg");
   background-size: cover;
   position: absolute;
   right: 0;
   bottom: 0;
}
.account{
    color: #FFF;

text-align: right;
/* web/heading/light/02 */
font-family: 'SF Pro Display', sans-serif;
font-size: 18px;
font-style: normal;
font-weight: 300;
line-height: normal;
}
input::placeholder {
    color: #F5FEF9 !important;
  }
@media (max-width:639px) {
    .loginMain{
        background-image: url("");
    }
}